<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetPack.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @*<style>
        body {
            padding-top: 150px;
        }
    </style>*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NetPack</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <a asp-area="" asp-controller="Home" asp-action="SingleTypescriptFile" class="">Single Typescript File</a>
                    <a asp-area="" asp-controller="Home" asp-action="MultipleTypescriptFiles" class="">Multiple Typescript Files</a>
                    @*<a asp-area="" asp-controller="Home" asp-action="MultipleTypescriptFilesCombinedToSingleJsFile" class="navbar-brand">Multiple Typescript Files Combined To Single Js File</a>*@
                    <a asp-area="" asp-controller="Home" asp-action="RequireJsOptimised" class="">A RequireJs optimised file based on AMD.</a>
                    <a asp-area="" asp-controller="Home" asp-action="RequireJsOptimisedTagHelper" class="">A RequireJs Optimise TagHelper.</a>
                    <a asp-area="" asp-controller="Home" asp-action="JsMin" class="">JsMin.</a>
                    <a asp-area="" asp-controller="Home" asp-action="RollupBundle" class="">Rollup Js Single File Bundle.</a>
                    <a asp-area="" asp-controller="Home" asp-action="RollupCodeSplitting" class="">Rollup Js Code Splitting.</a>
                    <a asp-area="" asp-controller="Home" asp-action="BrowserReload" class="">Automatic Browser Reload</a>
                    <a asp-area="" asp-controller="Home" asp-action="SystemHmr" class="">SystemJS Hot Module Reload</a>
                    <a asp-area="" asp-controller="Home" asp-action="SystemHmrTagHelper" class="">SystemJS Hot Module Reload TagHelper</a>

                    <a asp-area="" asp-controller="Home" asp-action="RequireJSHmr" class="">RequireJS Hot Module Reload</a>
                    <a asp-area="" asp-controller="Home" asp-action="RequireJSHmrTagHelper" class="">RequireJS Hot Module Reload using TagHelper</a>

                    @*<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - NetPack.Web</p>
        </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
