@page "/"

<h1>Hello, world!</h1>

    Welcome Daz - change this text and save the file and watch it reload (takes upto 10 seconds for the dotnet build to complete!)

<SurveyPrompt Title="How is Blazor working for you..?" />