@{
    ViewData["Title"] = "Multiple Compiled Typescript Files";
}

<p>
    The following uses the standard script TagHelper to include multiple scripts on the page, specified by a glob.
    These happen to be outputs from the NetPack typescript compilation pipeline.
</p>

<p class="message"></p>

@section scripts
{
@*see https://github.com/aspnet/StaticFiles/issues/158*@
    <script type="text/javascript" asp-src-include="/netpack/**/*.js" asp-src-exclude="/netpack/**/bundle.js"></script>

    @*<script type="text/javascript" src="/netpack/ts/Greeter.js"></script>
    <script type="text/javascript" src="/netpack/ts/Another.js"></script>*@

}


