@{
    ViewData["Title"] = "JS Combined";
}

<p>
    The following shows transpiling individual typescript files, and then combining into a single
    js file for inclusion on the page, with full source map support.
</p>

<p class="message"></p>

@section scripts
{
    <script asp-src-include="/wwwroot/js/bundleA.js"></script>
}


