@{
    ViewData["Title"] = "RequireJS HMR";
}

<h1>RequireJS Hot Module Replacement</h1>

<div id='a'>
    <div data-used-by='a'></div>
    <div data-used-by='both'></div>
</div>

<div id='b'>
    <div data-used-by='b'></div>
    <div data-used-by='both'></div>
</div>

<p>
    A taghelper is used to add hmr functionality for AMD modules loaded with requireJS. Note: this is still a wip. SystemJS HMR is preferred at this point in time.
    https://github.com/dazinator/NetPack/issues/36
</p>
<ul id="modules"></ul>
<div id='a'>
    <div data-used-by='a'></div>
</div>

@section scripts
    {


    @*Following needed for hmr*@
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        // you can register settings like this before require.js is loaded
        var require = {
            baseUrl: '/hmr/amd'
        };
    </script>

    <script src="~/lib/require.js/require.min.js"></script>
    <Hmr module-reloader-src="/embedded/netpack/js/reloader-require.js"></Hmr>

    <script type="text/javascript">
        require(["SomePage"]);
    </script>

}