@{
    ViewData["Title"] = "RequireJS HMR";
}

<h1>RequireJS Hot Module Replacement</h1>

<div id='a'>
    <div data-used-by='a'></div>
    <div data-used-by='both'></div>
</div>

<div id='b'>
    <div data-used-by='b'></div>
    <div data-used-by='both'></div>
</div>

<p>Modules loaded from optimised file:</p>
<ul id="modules"></ul>
<div id='a'>
    <div data-used-by='a'></div>
</div>

@section scripts
    {





    @*Following needed for hmr*@
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

    <script src="/requireConfig.js"></script>
    <script src="~/lib/require.js/require.min.js"></script>
    
    <Hmr module-reloader-src="/embedded/netpack/js/reloader-require.js"></Hmr>

    <script type="text/javascript">
        require(["SomePage"]);
    </script>

    @*<script type="text/javascript">
                require.config({
            //By default load any module IDs from amd
            baseUrl: '/amd',
            //except, if the module ID starts with "app",
            //load it from the js/app directory. paths
            //config is relative to the baseUrl, and
            //never includes a ".js" extension since
            //the paths config could be for a directory.
            paths: {
                '@@hot': 'empty:'
            }
        });*@

    @*</script>*@

    @*<script src="/netpack/built.js"></script>*@
    @*<script type="text/javascript">
            require(['SomePage'], function (foo) {
                //SomePage is now loaded.

            });

        </script>*@

    @*<script>
            SystemJS.config({
                "map": {
                    "@@hot": "@@empty"
                }
            });
            SystemJS.import('/netpack/rollup/hmr/nomodule/entry-a.js').then(function (m) {
            });
                                                            //System.import('hmrbundle.js');
                                                            //System.import('/netpack/rollup/nomodule/main-b.js');
        </script>*@


}