@{
    ViewData["Title"] = "SystemJS HMR";    
}

<h1>SystemJS Hot Module Replacement - Tag Helper</h1>

<div id='a'>
    <div data-used-by='a'></div>
    <div data-used-by='both'></div>
</div>

<div id='b'>
    <div data-used-by='b'></div>
    <div data-used-by='both'></div>
</div>

<p>Modules loaded from optimised file:</p>
<ul id="modules"></ul>
<div id='a'>
    <div data-used-by='a'></div>
</div>

@section scripts
    {

    <script src="~/lib/systemjs/system.js" type="text/javascript"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.21.5/system.js" type="text/javascript"></script>*@

    <script src="~/lib/systemjs-hmr/dist/systemjs-hmr.js" type="text/javascript"></script>

    @*Following needed for hmr*@
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <Hmr></Hmr>
    @*<script src="~/embedded/netpack/js/pubsub.min.js"></script> @*This is embedded, you don't have to source it yourself*@
    @*<script src="~/embedded/netpack/js/publisher-filechange.js"></script> @*This is embedded, you don't have to source it yourself*@
    @*<script src="~/embedded/netpack/js/reloader-system.js"></script> @*This is embedded, you don't have to source it yourself*@

    <script>
        SystemJS.config({
            "map": {
                "@@hot": "@@empty"
            }
        });
        SystemJS.import('/netpack/rollup/hmr/nomodule/entry-a.js').then(function (m) {
        });
                                                //System.import('hmrbundle.js');
                                                //System.import('/netpack/rollup/nomodule/main-b.js');
    </script>


}